@tailwind base;
@tailwind components;
@tailwind utilities;

.register {
  padding: 20px;
  width: 300px;
}

.register,
h1 {
  padding-bottom: 10px;
  font: bolder;
}

.btn {
  background-color: rgb(78, 78, 13);
}
